/* src/components/Navbar.css */
.brand-padding {
  padding-left: 1rem;
}
:root {
  --background-color: white;
  --text-color: black;
}

body.dark-mode {
  --background-color: #212121;
  --text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.2s, color 0.3s;
}

.container,
.table {
  background-color: var(--background-color);
  color: var(--text-color);
}
